body,input,.modal-content{
    background:
            url('/main/img/concrete_seamless.png');
    background-repeat: repeat;
    background-position: 0 0;
    background-color: #e2e2de;
}
body {
    padding-top: 54px;
}
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.center-wrap {
    text-align: center;
}

.post-series-content {
    margin: 0 0 26px;
    padding: 20px;
    /* background-color: #f5f7f8;*/
}
.entry-content {
    font-family: verdana;
    font-size: 18px;
    font-weight: normal;
    color: #000000;
}

.entry-content {
    line-height: 1.63;
}
