parall {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}
parall {
    font-family: Ubuntu, Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.4em;
    background: #f7f7f7;
    color: #404040;
}
parall a {
    text-decoration: none;
}

parall #wrap {
    padding: 0 3.5%;
}
parall svg {
    font-family: Ubuntu, Tahoma, Helvetica, sans-serif;
}
parall canvas, svg {
    position: absolute;
    top: 0;
    left: 0;
}
parall #chart {
    position: relative;
}
parall .brush rect.extent {
    fill: rgba(100,100,100,0.15);
    stroke: #fff;
}
parall .brush:hover rect.extent {
    stroke: #222;
    stroke-dasharray: 5,5;
}
parall .brush rect.extent:hover {
    stroke-dasharray: none;
}
parall .resize rect {
    fill: none;
}
parall .background {
    fill: none;
}
parall .axis line, .axis path {
    fill: none;
    stroke: #777;
    stroke-width: 1;
}
parall .axis .tick {
    width: 200px;
}
parall .axis text {
    fill: #111;
    text-anchor: right;
    font-size: 11px;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
parall .axis text.label {
    font-size: 12px;
    cursor: move;
    padding-bottom: 24px;
}
/*parall .quarter, .third, .half {
    float: left;
}
parall .quarter {
    width: 23%;
    margin: 0 1%;
}*/
/*parall .third {
    width: 31.3%;
    margin: 0 1%;
}*/
parall .half {
    width: 48%;
    margin: 0 1%;
}
parall h3 {
    margin: 12px 0 9px;
}
parall h3 small {
    color: #888;
    font-weight: normal;
}
parall p {
    margin: 0.6em 0;
}
parall small {
    line-height: 1.2em;
}
parall button[disabled=disabled] {
    color: #555 !important;
    opacity: 0.4;
}
parall .settings button[disabled=disabled] {
    display: none;
}

parall button#keep-data, parall button#exclude-data {
    font-weight:bold
}
parall button#keep-data:hover {
    color: #080;
}
parall button #exclude-data:hover {
    color: #900;
}
parall #item-list #wrap{
    width: 100%;
    height: 460px;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}
/*parall #legend {
    text-align: left;
    overflow-y: auto;
    !*border-left: 1px solid rgba(140,140,140,0.5);*!
}*/
/*parall .row {
    cursor: pointer;
}
parall .row:hover {
    font-size: 16px;
    line-height: 1.3em;
}*/
parall .off {
    color: #999;
}

parall .color-block, .color-bar {
    display: inline-block;
    height: 8px;
    width: 8px;
    margin: 1px 4px 1px 0px;
}
parall #rendered-bar,
parall #selected-bar {
    width:0%;
    font-weight: bold;
}
parall #rendered-bar {
    background: #888;
    border-right: 1px solid #666;
}
parall #selected-bar {
    background: rgba(160,160,160,0.5);
    border-right: 1px solid #999;
}
parall .fillbar {
    height: 12px;
    line-height: 12px;
    border:1px solid rgba(120,120,120,0.5);
    width: 120px;
    display: inline-block;
}
parall .little-box {
    width: 268px;
    float: left;
}
parall #header {
    border-bottom: 1px solid rgba(100,100,100,0.35);
    background: #e2e2e2;
    padding: 6px 24px 4px;
    line-height: 24px;
}
.dark #header {
    background: #040404;
    color: #f3f3f3;
}
parall #header h1 {
    display: inline-block;
    margin: 0px 14px 0 0;
}
parall #header button {
    vertical-align: top;
}
parall .controls {
    float: right;
    height: 24px;
    line-height: 24px;
}



::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border-radius: 12px;
}


